/***** General Syling *****/

/*Affects Entire Document*/
html {
    scroll-behavior: smooth; /*This ensures that the page scrolling is smooth when the buttons on the nav bar is clicked*/
}

/*Body*/
body {
    margin: 0%; /* This ensures our site displays all the way to the edge of the browswer screen*/
    opacity: 1; /* This and transition affects the page loading fade in effect*/
    transition: 3s opacity; /*This causes a 3 second fade in*/
    letter-spacing: .2vw; /* VW is a relative measurment , 1vw is wquak t 1% of the view port width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hiden; /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
    user-select: none; /* This prevents the text oin the webpage from being highlighted by the user*/
}

/* This secction contributes to the fade effect for the page that occurs when the page is loaded*/
body.fade-out {
    opacity: .1; 
}

/*Heading 1 elements */
h1 {
    text-transform: uppercase; 
    font-family: "Trebuchet MS", Optima;
    text-align: center; 
    margin-top: 3%;
    color: white;
}

h3 {
    color: gray;
    text-align: center;
}

h1:hover {
    filter: grayscale(5%); 
    transform: scale(1.1);
    transition: transform 1s;
}

/*Styling for Portfolio Title Text */
.white-text {
    color: #fff;
    padding-top: 10vh;
}

/*Paragraph elements*/
 P {
     font-family: Perpetua, Rockwell Extra Bold; 
     text-align: justify;
     letter-spacing: .1vw;
     font-size: 1.5vw;
     padding-left: 1vw;
     padding-right: 1vw;
 }

 /*Paragraph element hover effect*/

 p:hover {
     transition: transform 1s;
     transform: scale(1.01);
 }

 /* Center class - this applies to all centered text */
 .center {
     text-align: center;
 }

 .center:hover {
     transition: transform 2s;
     transform: scale(1.1);
 }

 /* Anchor Elements*/
 a {
     color: blue;
     cursor: pointer;
     text-decoration: underline;
 }

 /* Quotation elements */
 q {
     font-style: italic; 
 }

 /*Image Elements*/
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto auto auto auto; 
}

/* Image Element Hover Affect */
img:hover {
    filter: grayscale(5%);
}

/* The @media rile is used in media queries to applu different styles for different media/types of devices*/
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column*/
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/*styling for footer element */
footer {
    padding: 2%;
    background-color: white;
    text-align: left;
}

/****** End of General Styling ******/

/****** Navbar Styling ******/
.Navbar {
    overflow: hidden;
    background-color: rgb(2, 2, 48);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

/* The animation effect for moving the nav bar in from above the left of the screen on page load*/
@keyframes moveNav {
    from {left: -100vw;}
    to { left: 0vw;}
}

/*Mavbar Links*/
.Navbar a {
    float: left;
    display: block;
    color: White;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
    background-color: rgb(2, 2, 48);
}

/*This animation effect for moving the nav bar links in from above the top of the screen on page load */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/* Screens 576px and smaller will display navbar links equally distributed*/
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 20%;
        font-size: 12px;
    }
}
 /*Navbar hover Effects */
 .Navbar a:hover { 
     background-color: #f4f4f4;
     color: rgb(2, 2, 48);
     font-weight: bold;
     cursor: pointer;
 }

 /* Navbar home button*/
 .Navbar a.active {
     background-color: darkgray;
 }

 /****** End of Navbar Styling ******/

 /***** Video Styling ******/
 /*Formatting for background video */
 #Typing_Video {
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     z-index: -1;
 }

 /*Screens that are 576px and smaller will not display the background video */
 @media screen and (max-width: 576px) {
     #typing_Video {
         display: none;
     }
 }

 /*Text over the video*/
 .Video_Text {
     background: rgba(0,0,0, 0.5);
     color: white;
     width: 100%;
     height: 100vw;
     padding-top: 2vh;
     position: relative;
     -webkit-animation: moveVideoText 5.75s;
     animation: moveVideoText 5.75s;
     z-index: 1;
 }

 /* This animation effect causes the overlay video text to move up from the bottom of the page upon page load*/
 @keyframes moveVideoText {
     from {top: -100vw;}
     to {top: 0vw;}
 }

 /****** End of Video Styling ******/   

 /****** Slideshow Styling ******/
 #Slideshow_Background {
     background: rgba(255, 255, 255, 0.35);
 }

 .mySlides{
     display: none;
 }

 /*Slideshow Section / container */
 #Slideshow_Container { 
     width: 39.5vw;
     height: auto;
     padding-top: 4%;
     position: relative;
     margin:auto;
 }

 /*Images conatained within the slide show*/
 .Slideshow_Images {
     vertical-align: middle;
     height: auto;
     box-shadow: 0px 5px 10px 12px rgba(0,0,0, .75);
     width: 100%;
 }

 /* Next and previous buttons */
 .Previous, .Next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 2vw;
     color: darkgray;
     font-weight: bold;
     font-size: 1.5vw;
     border-radius: 0 3px 3px 0;
     user-select: none;
     transition: 0.6s ease;
}

/*Position the next button on the right hand side*/
.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*hover effect on slide show buttons*/
.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0, 0.8);
    color: white;
}

/*Slideshow text*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0, 0.75);
    font-weight: bold;
    border-radius: 0px 0px 7px 7px;
}

/*Styling of the dots under the slideshow*/
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: rgb(2, 2, 48);
    border-radius: 50%;
    display: inline-block; /*Allows the dots to sit next to eachother rather than out on a new line*/
    transition: background-color 0.6s ease;
    z-index: 1;/* this ensires the dots will be displayed above any other element*/
}

/*Hover effects for slideshow dots*/
.active, .dot:hover {
    background-color: gray;
}

/*Fading animation for slideshow*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1; }
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/****** End Slideshow styling ******/

/****** Table Styling - this section covers the stuling of the coloumns and rows
within the table ******/

* { /*The asterisk is a universal selector that applies this effect to all elements on the page */
box-sizing: border-box;
}

.Column_1 {
    float: left; 
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color: white;
}

/* The @media rule is used in media queries to apply different style for different media types of devices */
/*Screens 576px and smaller will display a scroll bar if the text overflows the column height*/
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 450px;
    background-color:rgba(2, 2, 48);

}

/* This inserts something after the content of selected elements ( in this case the elememnts with class "Row")*/
.Row:after {
    content: ""; /*By leaving this blank, we are allowing the footer to be displayed - removing it makes the footer overwrite a column */
    display: table;
    clear: both;
}

/****** End of Table Styling ******/

/****** Contact Form Styling ******/
/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: gray;
    color: black;
    border: solid rgb(2, 2, 48);
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
    z-index: 8;

}

/* movePopup animation moves the button from off the right side of the screen to  its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

/* Form Styling */
.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: gray;
    
}

/*Input fields */
.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: rgb(189, 189, 190);
    font-size: 1vw;
}

/*General Styling for all buttons*/
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold; 
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/*Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: rgb(2, 2, 48);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: silver;
}

/*Submit button */
.form-container .btn {
    background-color: white;
    color: rgb(2, 2, 48);
    border-color: rgb(2, 2, 48);
    margin-bottom: 1vh;
}

/* Close buttons */
.form-container .cancel {
    background-color: rgb(2, 2, 48);
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: red;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}

/****** End of Contact Form Styling *****/

